*{
  margin: 0;
  padding: 0;
 }

 body {
  height: 100vh;
  background-color: lightblue;
}
.App {
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}        

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li {
  list-style: none;
  list-style-position:inside;
  white-space: nowrap;
  overflow: scroll;
}

div.users {
  background-color: #FFFF99;
  padding: 20px;
  margin: 20px;
  height: 120px;
}

div.notes {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
}