*{
  margin: 0;
  padding: 0;
 }

 body {
  height: 100vh;
  background-color: lightblue;
}
.App {
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
}        

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li {
  list-style: none;
  list-style-position:inside;
  white-space: wrap;
}

div.users {
  background-color: #FFFF99;
  padding: 20px;
  margin: 20px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.notes {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-button {
  background-color: #0275d8;
  border: none;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.input {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1em;
  outline: none;
  border-radius: 5px;
}

.close-button-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.close-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.alert-msg {
  color: #d9534f;
}

.notes-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#delete-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-modal-button {
  background-color: #d9534f;
  border: none;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.search {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1em;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.search-button {
  background-color: #0275d8;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}